apiVersion: v1
kind: Service
metadata:
  name: {{ include "timesheet-filler.fullname" . }}
  labels:
    {{- include "timesheet-filler.labels" . | nindent 4 }}
  {{- if .Values.prometheus.enabled }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: {{ .Values.prometheus.port | default 9180 | quote }}
    prometheus.io/path: {{ .Values.prometheus.path | default "/metrics" | quote }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- if .Values.prometheus.enabled }}
    - port: {{ .Values.prometheus.port | default 9180 }}
      targetPort: metrics
      protocol: TCP
      name: metrics
    {{- end }}
  selector:
    {{- include "timesheet-filler.selectorLabels" . | nindent 4 }}
